:root {

  --background-login: rgb(237, 242, 251);
}

.login-page {
  align-items: center;
  background-color: var(--background-login);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
