:root {

  --background-login: rgb(237, 242, 251);

  --fontColor-primary: rgb(33, 37, 41);

  --primary-color: rgb(65, 24, 127);

  --secondary-color: rgb(252, 220, 54);

  --shadow-color: rgba(0, 0, 0, 0.2);

}

.login-page {
  align-items: center;
  background-color: var(--background-login);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-icon {
  color: var(--fontColor-primary);
  font-size: 20px;
}

.btn-enter {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px var(--shadow-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 600;
  padding: 6px 12px;
  width: 85%;
}

.btn-enter:disabled {
  cursor: default;
  filter: contrast(0.6);
}
