.input-box {
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
}

.input-warning-disabled {
  display: none;
}
