.icon-btn {
  cursor: pointer;
}

.default-button {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px var(--shadow-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 600;
  padding: 6px 12px;
}

.search-btn {
  width: 60%;
}

.btn-enter {
  max-width: 300px;
  width: 85%;
}

.default-button:disabled {
  cursor: default;
  filter: contrast(0.6);
}
