.upper-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-component {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.header-title {
  letter-spacing: 3px;
  text-transform: uppercase;
}
