:root {

  --fontColor-primary: rgb(33, 37, 41);

  --primary-color: rgb(65, 24, 127);

  --secondary-color: rgb(252, 220, 54);

  --shadow-color: rgba(0, 0, 0, 0.2);
}

.upper-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-component {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.header-title {
  letter-spacing: 3px;
  text-transform: uppercase;
}
