:root {

  --color-background: rgb(248, 249, 250);

}

main {
  background-color: var(--color-background);
  min-height: 100vh;
}

.disabled {
  display: none;
}

.recipes-page {
  padding-bottom: 76px;
}
