.recipes-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: 0 10px;
  margin-top: 82px;
  width: 100vw;
}

.search-open {
  margin-top: 246px;
}
